<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- ảnh NY -->
    <img src="static/logo.svg" alt="">
    <!-- 4 dòng đầu -->
    <div class="">
      <ul>
        <li><a href="https://www.newyorker.com/news">News</a></li>
        <li><a href="https://www.newyorker.com/news">Culture</a></li>
        <li><a href="https://www.newyorker.com/books">Books</a> </li>
        <li><a href="https://www.newyorker.com/humor">Humor</a> </li>
      </ul>
    </div>
    <!-- book và november -->
    <div class="">
      <a href="https://www.newyorker.com/magazine/books">Books</a>
      <a href="https://www.newyorker.com/magazine/2017/11/27">November 27, 2017 Issue</a>
    </div>
    <!-- What Oliver... -->
    <div class="">
      <h3><strong>What Mary Oliver's Critics Don't Understand</strong></h3>
      <h2><strong>For America's most beloved poet, paying attention to nature is a spring board to the sacred</strong> </h2>
      <p>By <a href="https://www.newyorker.com/contributors/ruth-franklin">Ruth Franklin</a> </p>
    </div>
    <!-- 3 icons -->
    <ul>
      <li><img src="static/facebook.svg" alt=""> </li>
      <li><img src="static/twitter.svg" alt=""> </li>
      <li><img src="static/email.svg" alt=""> </li>
      <li></li>
    </ul>
    <!-- ảnh mary oliv -->
    <img src="static/img.jpg" alt='' width="45%">
    <p>Oliver uses nature as a springboard to the sacred - the beating heart of her work.</p>
    <p><small>Illustration by Deanna Halsall</small> </p>
    <!-- body 1 -->
    <p>"Mary Oliver is saving my life," Paul Chowder, the title character of Nicholson Baker's novel "<a href="#">The Anthologist</a>," scrawls in the margins of Oliver's " <a href="#">New and Selected Poems</a>, <a href="#">Volume One</a>." A
      strunggling poet, Chowder is suffering from a server case of writer's block. His girlfriend, with whom he's for eight years, has left him, ostensibly, because he has unable to write the
      long-overdue introduction to a poetry anthology that he has been putting together. For solace and inspiration, he turns to poets who have been his touchstones - Louise Bogan, Theodore Roethke,
      Sara Teasdale - before discovering Oliver. In her work, he finds consolation:"I immediately felt more sure of what i was doing." Of her poems, he says, "They's very simple. At yet each has
      something."</p>
    <!-- poem -->
    <ul style="list-style-type: none;">
      <li>I don't know exactly what a prayer is.</li>
        <li>I do know how to pay attention, how to fall down</li>
        <li>into the grass, how to kneel down in the grass,</li>
        <li>how to be idle and blessed, how to stroll through the fiels,</li>
        <li>which is what i have been doing all day.</li>
    </ul>
    <!-- body 2+3 -->
    <p>The cadences are almost Biblical."Attention is the beginning of devotion," she urges elsewhere.</p>
    <p>This article appears in the print edition of the November 27, 2017, issue, with the headline "The Art of Paying Attention."</p>
    <!-- heading 3 -->
    <h3><strong>Most Popular</strong> </h3>
    <!-- popular list -->
    <ul>
      <li>
        1.<BR>
        Letter from Washington
        <!-- <a href="https://www.newyorker.com/humor/borowitz-report/mueller-rents-giant-warehouse-to-store-evidence-against-trump"></a> -->
        <a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence"><h5>The Danger of President Pence</h5></a>
        <p>By <a href="https://www.newyorker.com/contributors/jane-mayer">Jane Mayer</a></p>
      </li>
      <li>
        2.<BR>
        Ours Columnists
        <a href=" https://www.newyorker.com/news/our-columnists/no-end-in-sight-to-the-brexit-madness"><h5>No End in Sight to the Brexit Madness</h5></a>
        <p>By <a href="https://www.newyorker.com/contributors/john-cassidy">John Cassidy</a></p>
      </li>
      <li>
        3.Satire from The Borowitz Report<BR>
        Letter from Washington
        <a href="https://www.newyorker.com/humor/borowitz-report/mueller-rents-giant-warehouse-to-store-evidence-against-trump"><h5>Mueller Rents Giant Warehouse to Store Evidence Against Trump </h5> </a>
        <p>By <a href="https://www.newyorker.com/contributors/andy-borowitz">Andy Borowitz</a></p>
      </li>
    </ul>
    <p>Daily Cartoon</p>
    <!-- heading 4 -->
    <h2><a href="https://www.newyorker.com/cartoons/daily-cartoon/friday-november-24th-five-twenty-blackbirds"><u>Daily Cartoon: Friday, November 24th</u> </a> </h2>
    <h2><strong>Forgetting the garnish.</strong> </h2>
    <p>By <a href="https://www.newyorker.com/contributors/liana-finck">Liana Finck</a> </p>
    <p>Nov, 24, 2017<BR>
      Elements
    </p>
    <!-- heading 2 -->
    <h2><a href="https://www.newyorker.com/tech/elements/at-berkeley-a-new-generation-of-ethical-hackers-learns-to-wage-cyberwar"><u>At Berkeley, a New Generation of Ethinical Hackers Learns the Do's and Don'ts of Cybersecurity</u> </a> </h2>
    <h2><strong>How long would it take a junior computer-science major to disrupt an election?</strong> </h2>
    <p>By <a href="https://www.newyorker.com/contributors/anna-weiner">Anna Weiner</a> </p>
    <p>Nov, 24, 2017</p>
    <!-- 3 a cuối -->
    <p><a href="https://www.newyorker.com/podcast/the-new-yorker-radio-hour"><strong>Listen to the New York Radio Hour</strong> </a> </p>
    <p><a href="http://www.condenaststore.com/-st/New-Yorker-Covers-Prints_c147247_.htm"><strong>Buy the Cover</strong></a> </p>
    <p><a href="https://www.newyorker.com/jigsaw"><strong>Play the Jigsaw Puzzle<strong></a> </p>
  </body>
</html>
