<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Yorker</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <!-- phần trên logo+nav bar -->
    <img class="logo" src="static/logo.svg" alt="">
      <ul class="nav">
        <li class="no-dot"><a href="#">News</a></li>
        <li class="no-dot"><a href="#">Culture</a></li>
        <li class="no-dot"><a href="#">Books</a></li>
        <li class="no-dot"><a href="#">Humor</a></li>
      </ul>

      <!-- bắt đầu article -->
      <div class="content">
        <!-- title -->
        <h3 class="title-h3">What Mary Oliver's Critics Don't Understand</h3>
        <h2 class="title-h2">For America's most beloved poet, paying attention to nature is a <br>
           springboard to the sacred.</h2>
        <p class="title-p">By Ruth Franklin</p>
        <!-- <hr> -->
        <!-- main content -->
        <div class="main-content">
          <div class="img-content">
            <img src="static/img.jpg" alt="">
            <p class="img-title">Oliver uses nature as a springboard to the sacred -<br>
               the beating heart of her work.</p>
            <small>Illustration by Deanna Halsall</small>
          </div>
          <!-- main article -->
          <div class="article">
            <p>"<span class="bold">M</span>ary Oliver is saving my life," Paul Chowder, the title character of Nicholson Baker's novel "<span class="decoration">The Anthologist,</span>" scrawls in the margins of Oliver's "<span class="decoration">New and selected poems, Volume One</span>." A struggling poet, Chowder is suffering from a severe case of writer's block. His girlfriend, with whom he's lived for eight years, has just left him, ostensibly because he has been unable to write the long-overdue introduction to a poetry anthology that he has been putting together. For solace and inspiration, he turns to poets who have been his touchstones -- Louise Bogan, Theodore Roethke, Sara Teasdale -- before discovering Oliver. In her work, he finds consolation: "I immediately felt more sure of what I was doing." Of her poems, he says, "They're very simple. And yet each has something."</p>
            <blockquote>
              I don't know exactly what a prayer is. <br>
              I do know how to pay attention, how to fall down <br>
              into the grass, how to kneel down in the grass, <br>
              how to be idle and blessed, how to stroll through the fields, <br>
              which is what I have  been doing all day.
            </blockquote>
            <p>The cadences are almost Biblical. "Attention is the beginning of devotion," she urges elsewhere.</p>
            <p>This article appears in the print edition of the November 27, 2017, issue, with the headline "The Art of Paying Attention."</p>
          </div>
        </div>
        <!-- Most popular -->
        <div class="most-popular">
          <h4 class="right-title">Most popular</h4>
          <ol>
            <p class="red">Letter from Washington</p>
            <li>
              <p class="Geogia">The Danger of President Pence</p>
              <p class="title-p">By Jane Mayer</p>
            </li>
            <p class="red">Our Columnists</p>
            <li>
              <p class="Geogia">No End in Sight to the Brexit Madness</p>
              <p class="title-p">By John Cassidy</p>
            </li>
            <p class="red">Satire from The Borowitz Report</p>
            <li>
              <p class="Geogia">Mueller Rents Giant Warehouse to Store Evidence Against Trump</p>
              <p class="title-p">By Andy Borowitz</p>
            </li>
          </ol>
        </div>

        <div class="" style="clear:both">

        </div>
        <!-- bottom content -->
        <div class="bottom-content">
          <div class="main-bottom-left">
            <p class="red">Daily Cartoon</p>
            <a href="#"><h2>Daily Cartoon: Friday, November 24th</h2></a>
            <p>Forgetting the garnish.</p>
            <p class="title-au">By Liana Finck</p>
            <span>Nov.24, 2017</span>
          </div>

          <div class="main-bottom-right">
            <p class="red">Elements</p>
            <a href="#">
              <h2>At Berkeley, a New Generation of Ethical Hackers Learns the Do's and Don'ts of Cybersecurity</h2>
            </a>
            <p>How long would it take a junior computer-science major to disrupt an election</p>
            <p class="title-au">By Anna Wiener</p>
            <span>Nov.24, 2017</span>
          </div>
        </div>
      </div>

      <div class="" style="clear: both;">

      </div>
      <!-- black footer -->
      <div class="footer">
        <a href="#"><h4>Listen to the New Yorker Radio Hour</h4></a>
        <a href="#"><h4>Buy the Cover</h4></a>    
        <a href="#"><h4>Play the Jigsaw Puzzle</h4></a>
      </div>
  </body>
</html>
